# Gradle files
.gradle
/local.properties

# IDE files
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# macOS system files
.DS_Store

# Build output
/build
/captures
.externalNativeBuild
.cxx
